{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/user/activate.css' %}">
</head>

<main>
    <img src="{% static 'IMG/Main/Logo.jpg' %}" alt="Hatikwa-Logo">
    <form method="post">
        {% csrf_token %}
        <h1>Account</h1>
        <p>{{ error }}</p>
        <input type="text" name="first-name" placeholder="Voornaam" required>
        <input type="text" name="last-name" placeholder="Achternaam" required>
        <input type="password" name="pass" placeholder="Wachtwoord" required>
        <input type="password" name="check" placeholder="Herhaal wachtwoord" required>
        <button type="submit" name="login">Activate</button>
    </form>
    <div class="disclaimer">
        <p>Sebastiaan de Vries</p>
        <a href="https://datalectro.nl">&copy; DataLectro</a>
        <a href="https://hatikwa.nl">Hatikwa website</a>
    </div>
</main>