{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'CSS/settings/create-user.css' %}">
</head>

<main>
    <form method="post">
        {% csrf_token %}
        <h1>Create user</h1>
        <p id="error" style="color: {{ notifycolor }};">{{ notify }}</p>
        <input onInput="display(event)" id="mail" name="email" type="text" placeholder="email">
        <button name="create-user" type="submit">Send invite</button>
    </form>
</main>

<script>
    tag = document.getElementById("error");

    var users = [
        {% for user in users %}"{{ user }}",{% endfor %}
    ]

    function display(event) {
        const val = event.target.value;
        tag.innerText = `Aanmaken: ${val}`;
        tag.style.color = "white"
    }
</script>