{% load static %}

<!-- Main page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/index.css' %}">
    <script src="https://kit.fontawesome.com/1db3bd5769.js" crossorigin="anonymous"></script>
    <title>Hatikwa Media</title>
</head>

<body>
    <div class="nav">
        {% if user.is_authenticated %}
        <a href="/songs">Repetoire</a>
        {% if media_perm %}
        <a href="/media">Media</a>
        {% endif %}
        {% if settings_perm %}
        <a href="/admin">Settings</a>
        {% endif %}
        <a href="/logout">Logout</a>
        {% endif %}
        {% if not user.is_authenticated %}
        <a href="/login">Login</a>
        {% endif %}
    </div>
    <hr class="top-bar">
    <img class="top-logo" src="{% static 'IMG/Main/Logo.jpg' %}" alt="Hatikwa-Logo">
    {% include page %}
</body>
</html>